
@{
    ViewData["Title"] = "KullaniciEkle";
    Layout = "~/Views/Yonetim/Index.cshtml";
}

<div class="row">

    <div class="col-md-12">

        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="#"><i class="glyphicon glyphicon-home"></i> Anasayfa</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Konular</a></li>
            <li class="active"><span><i class="glyphicon glyphicon-calendar"></i> Kullanıcı Ekle</span></li>
        </ol>
    </div>
</div>
<div class="panel-body">
    <div class="content-row">
        <div class="bs-example">

            
                <div class="form-group">
                    <img src="" class="img-circle" width="128" height="128" />
                    <br /><br />
                    <input type="file" name="ProfileImage" id="Resim" asp-for="Image" class="form-control" /><br />
                    <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
                    <span><i>Lütfen jpg,jpeg ya da png formatı kullanın.</i></span>
                </div>

                <div class="form-group">
                    @Html.Label("", "Ad", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Adi" id="Adi" class="form-control" placeholder="Ad" />

                    </div>
                </div><br />

                <div class="form-group">
                    @Html.Label("", "Soyad", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Soyadi" id="Soyadi" class="form-control" placeholder="Soyad" />

                    </div>
                </div><br />

                <div class="form-group">
                    @Html.Label("", "E-Posta", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Emaili" id="Emaili" class="form-control" placeholder="E-Posta" />

                    </div>
                </div><br />

                <div class="form-group">
                    @Html.Label("", "Telefon", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Telefonu" id="Telefonu" class="form-control" placeholder="Telefon" />

                    </div>
                </div><br />

                <div class="form-group">
                    @Html.Label("", "Kullanıcı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="KullaniciAdi" id="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı" />

                    </div>
                </div><br />

                <div class="form-group">
                    @Html.Label("", "Şifre", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Sifre" id="Sifre" class="form-control" placeholder="Şifre" />

                    </div>
                </div><br />



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-top:20px;">
                        <a href="/Yonetim/Kullanicilar" class="btn btn-info pull-right" style="margin-left:10px">Kullanıcılar Listesi</a>
                        <button class="btn btn-success pull-right" id="btnKullaniciEkle">Kullanıcı Ekle</button>
                    </div>
                </div>
        </div>
    </div>
</div>

